# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
venv/

# Database
instance/
*.db

# Env secrets
.env
*.env

# Uploads
app/uploads/*


# Editors
.cursor/
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
